---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
import Section from '../components/Section.astro'
import ArticleDisplay from '../components/ArticleDisplay.astro'
import { getPosts } from '../utils/funcs'
import Project from '../components/Project.astro'
import { Icon } from 'astro-icon'

export const prerender = false

const posts = (await getPosts()).slice(0, 3)
---

<Layout title="Will Carkner">
  <!-- BODY -->
  <Section>
    <div class="grid w-full grid-cols-1 gap-8 md:flex-row md:flex">
      <!-- ABOUT ME -->
      <div class="md:flex-1 space-y-8">
        <div
          class="rounded-xl bg-gradient-to-r animate-gradient-x from-blue-600 via-purple-600 to-violet-600 p-0.5"
        >
          <Card class="items-left !shadow-none">
            <div class="flex-col text-left space-y-4 flex">
              <div class="flex flex-row space-x-4">
                <img
                  alt="Will Carkner"
                  src="will-c.jpg"
                  class="w-24 h-auto rounded-lg"
                />
                <div class="flex flex-col justify-end text-left">
                  <h2>Will</h2>
                  <h2>Carkner</h2>
                </div>
              </div>
              <p class="text-gray-400 font-mono bold-slate-p text-justify">
                I'm a 19 year old <b> engineering</b> student, based in Dublin. I
                <b>love</b> to build stuff!
              </p><p class="text-gray-400 font-mono bold-slate-p text-justify">
                I currently am teaching myself <b>RF electronics</b> and am fascinated
                by power systems + energy abundance.
              </p>
            </div>
          </Card>
        </div>
        <!-- Writing -->
        <ArticleDisplay home={true} title="Writing" posts={posts} />
        <!-- Music -->
        <Card>
          <div class="flex flex-row items-center space-x-4 justify-center">
            <img
              class="w-20 h-20 hover:scale-110 duration-300 hover:cursor-pointer border border-gray-600 rounded-md"
              src="dyer-maker.jpg"
              alt="dyer maker album cover"
            />
            <div class="flex flex-col text-left justify-center">
              <h4 class="mb-1">Music</h4>
              <p class="text-gray-400 font-mono bold-slate-p">
                <b>D'yer Mak'er</b> by
                <a
                  class="hover:cursor-pointer"
                  href="https://www.youtube.com/watch?app=desktop&v=xje-1sw3T0s&t=0s"
                  >Led Zepplin</a
                >
              </p>
            </div>
          </div>
        </Card>
        <!-- Contact -->
        <div
          class="rounded-xl bg-gradient-to-r animate-gradient-x from-blue-600 via-purple-600 to-violet-600 p-0.5"
        >
          <Card class="space-y-2 !shadow-none">
            <h4>Contact</h4>
            <p class="font-mono text-gray-400 bold-slate-p">
              If any of what you see here seems interesting, I'd <b>love</b> to hear
              from you!
            </p>
            <div class="flex flex-row space-x-2">
              {
                [
                  {
                    icon: 'mdi:github',
                    href: 'https://github.com/will-carkner',
                  },
                  {
                    icon: 'mdi:email',
                    href: 'mailto:will@willcarkner.com',
                  },
                  {
                    icon: 'mdi:instagram',
                    href: 'https://www.instagram.com/_willcarkner/',
                  },
                ].map((item) => (
                  <a
                    href={item.href}
                    target="_blank"
                    class="hover:duration-300 hover:scale-110"
                  >
                    <Icon
                      class="w-8 h-8 text-gray-300 hover:text-sky-400"
                      name={item.icon}
                    />
                  </a>
                ))
              }
            </div>
            <a
              class="text-white font-mono font-bold no-underline hover:text-sky-400 text-base hover:underline"
              href="/blog/contact"
            >
              Learn More
            </a>
          </Card>
        </div>
        <!-- Reading -->
        <Card class="space-y-4">
          <h4>Reading</h4>

          <ul
            class="text-left font-mono list-disc text-gray-400 bold-slate-p pl-2"
          >
            <li>
              RF Electronics Handbook | <b>American Radio Relay League</b>
            </li>
            <li>The Big Score | <b>Michael S. Malone</b></li>
            <li>Storm of Steel | <b>Ernst Jünger</b></li>
          </ul>
          <a
            class="text-white font-mono font-bold no-underline hover:text-sky-400 text-base hover:underline"
            href="/blog/reading"
          >
            My Notes
          </a>
        </Card>
      </div>
      <div class="md:flex-1 space-y-8">
        <!-- Projects -->
        <Card class="space-y-4">
          <h4>Work</h4>
          <div class="flex flex-col space-y-4 justify-end">
            {
              [
                {
                  title: 'Lumindt',
                  tags: ['Hardware', 'Energy', 'EE'],
                  image: 'lumindt.png',
                  url: 'https://lumindt.com',
                  class: 'aspect-[3/2]',
                },
                {
                  title: 'Founders Site',
                  tags: ['Astro', 'Tailwind', 'Client'],
                  image: 'founders.jpg',
                  url: 'https://joinfounders.co',
                  class: 'aspect-[3/2]',
                },
                {
                  title: 'BloodBox',
                  tags: ['Hardware', 'ML', 'MedTech'],
                  image: 'bloodbox.jpg',
                  url: 'https://bloodbox.info',
                },
                {
                  title: 'Helio',
                  tags: ['SaaS', 'Client', 'NextJS'],
                  image: 'helio.png',
                  url: 'https://helio-safety.com',
                  class: 'aspect-[3/2]',
                },
                {
                  title: 'Research',
                  tags: ['Economics', 'Genomics', 'AI'],
                  image: 'research.jpeg',
                  url: 'https://willcarkner.com/blog/research',
                  class: 'aspect-[3/2]',
                },
                {
                  title: 'MLTCC Tennis',
                  tags: ['Landing Page', 'Client'],
                  image: 'mltcc.jpg',
                  url: 'https://mltcc.com',
                  class: 'aspect-[3/2]',
                },
                {
                  title: 'BattleBot',
                  tags: ['Hardware', 'Robotics'],
                  image: 'bot.jpeg',
                  url: '',
                },
                {
                  title: 'TCD Hist Club',
                  tags: ['Landing Page', 'Client'],
                  image: 'hist-club.png',
                  url: 'https://tcdhistclub.com',
                  class: 'aspect-[3/2]',
                },
              ].map((item, i) => (
                <div
                  id={`project-${i}`}
                  class:list={[i < 3 ? 'visible' : 'hidden']}
                >
                  <Project
                    title={item.title}
                    tags={item.tags}
                    image={'projects/' + item.image}
                    url={item.url}
                    class={item.class}
                  />
                </div>
              ))
            }
          </div>

          <a
            class="text-white font-mono font-bold no-underline hover:text-sky-400 text-base hover:cursor-pointer hover:underline"
            id="more-projects"
          >
            View More
          </a>
          <script>
            const moreProjects = document.getElementById('more-projects')!
            const projects = document.querySelectorAll('[id^="project-"]')
            let hidden = true
            moreProjects.addEventListener('click', () => {
              hidden = !hidden
              projects.forEach((project, i) => {
                if (i < 3) return

                project.classList.toggle('visible', !hidden)
                project.classList.toggle('hidden', hidden)
              })
              moreProjects.innerText = hidden ? 'See More' : 'See Less'
            })
          </script>
          <div class="flex flex-row space-x-4">
            {
              [
                {
                  title: 'Formal CV',
                  href: '/cv.pdf',
                },
                {
                  title: 'Current Work',
                  href: '/blog/current',
                },
                {
                  title: 'Hire Me',
                  href: '/blog/hire',
                },
              ].map((item) => (
                <a
                  class="no-underline border hover:scale-110 border-gray-600 px-2 py-1 rounded-lg font-mono"
                  href={item.href}
                >
                  {item.title}
                </a>
              ))
            }
          </div>
        </Card>
        <!-- CORE IDEAS -->
        <Card class="space-y-2">
          <h4>Principles</h4>
          <ul class="flex flex-row space-x-4">
            {
              [
                {
                  idea: 'Learn',
                  href: '/blog/learn',
                },
                {
                  idea: 'Build',
                  href: '/blog/current',
                },
                {
                  idea: 'Impact',
                  href: '/blog/impact',
                },
              ].map((item) => (
                <li class="flex flex-row">
                  <a href={item.href}>
                    <div class="font-mono bold-slate-p">{item.idea}</div>
                  </a>
                  {item.idea !== 'Impact' ? <p class="pl-3">|</p> : ''}
                </li>
              ))
            }
          </ul>
          <div class="text-gray-400 font-mono bold-slate-p">
            I aim to <b>constantly learn</b>, <b>build tangible things</b>, and <b
              >focus on impact</b
            >.
          </div>
        </Card>
        <!--PHOTOS -->
        <Card>
          <div class="space-y-4">
            <h4>Photos</h4>
            <div
              class="flex flex-row space-x-2 md:space-x-4 items-center justify-center"
            >
              {
                [
                  {
                    img: 'cool-photos/beach.jpeg',
                    alt: 'Italian Beach',
                  },
                  {
                    img: 'cool-photos/city.jpeg',
                    alt: 'Matera',
                  },
                  {
                    img: 'cool-photos/town.jpeg',
                    alt: 'Italian town',
                  },
                ].map((item) => (
                  <img
                    alt={item.alt}
                    class="w-20 h-30 sm:w-40 sm:h-32 border border-gray-600 rounded-lg"
                    src={item.img}
                  />
                ))
              }
            </div>
            <div>
              <a
                class="text-white font-mono font-bold no-underline hover:text-sky-400 text-base hover:underline"
                href="/photos"
              >
                View More
              </a>
            </div>
          </div>
        </Card>
        <!-- WORKOUTS -->
        <!-- <Card>
          <div class="space-y-2">
            <h4>Exercise</h4>
            <div class="flex flex-col space-y-2 items-left justify-left">
              {
                [
                  {
                    type: 'Upper Strength',
                    desc: ['Push press', 'Bench press', 'Pull up', 'T bar row'],
                  },
                  {
                    type: 'Lower Strength',
                    desc: [
                      'Hang snatch',
                      'Bulgarian split squat',
                      'Back squat',
                      'Calf raise',
                    ],
                  },
                  {
                    type: 'Impulse',
                    desc: [
                      'Power clean',
                      'Front squat',
                      'Nordic curl',
                      'Standing calf raise',
                    ],
                  },
                  {
                    type: 'Plyometrics',
                    desc: [
                      'Broad jump',
                      'Core work',
                      'Pogo jumps',
                      'Single leg box jump',
                    ],
                  },
                ].map((item) => (
                  <div class="flex flex-col">
                    <p class="font-bold text-center pb-1">{item.type}</p>
                    <ul class="p-1 px-2 border shadow-slate-900 rounded-xl text-left border-gray-600 grid grid-cols-2">
                      {item.desc.map((thing) => (
                        <li>&bullet; {thing}</li>
                      ))}
                    </ul>
                  </div>
                ))
              }
            </div>
          </div>
        </Card> -->
        <Card>
          <div class="space-y-2">
            <h4>Thought</h4>
            <p class="text-gray-400 font-mono bold-slate-p text-left">
              Fall in love and <b>stay in love</b>. Explode. Don't
              intellectualize. Get passionate about ideas. Cram your head full
              of images. Stay in the library. Stay off the internet and all that
              crap. <b>Read all the great books</b>. Read all the great poetry.
              See all the great films. Fill your life with metaphors. <b
                >And then explode.</b
              >
            </p>
            <div class="flex flex-row space-x-2">
              <p class="text-gray-400 font-mono">- Ray Bradbury</p>
              <p class="text-sm font-mono text-gray-500 translate-y-px">
                (emphasis my own)
              </p>
            </div>
          </div>
        </Card>
      </div>
    </div>
  </Section>
</Layout>
