---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
import Section from '../components/Section.astro'
import ArticleDisplay from '../components/ArticleDisplay.astro'
import { getPosts } from '../utils/funcs'
import Project from '../components/Project.astro'
import { Icon } from 'astro-icon'
import { Image } from 'astro:assets'

export const prerender = false

// const reveal = false

const posts = (await getPosts()).slice(0, 3)
---

<Layout title="Will Carkner">
  <!-- BODY -->
  <Section>
    <div class="grid w-full grid-cols-1 gap-8 md:flex-row md:flex">
      <!-- ABOUT ME -->
      <div class="md:flex-1 space-y-8">
        <div
          class="rounded-xl bg-gradient-to-r animate-gradient-x from-blue-600 via-purple-600 to-violet-600 p-0.5"
        >
          <Card class="items-left !shadow-none">
            <div class="flex-col text-left space-y-4 flex">
              <div class="flex flex-row space-x-4">
                <img
                  alt="Will Carkner"
                  src="will-c.jpg"
                  class="w-24 h-auto rounded-lg"
                />
                <div class="flex flex-col justify-end text-left">
                  <h2>Will</h2>
                  <h2>Carkner</h2>
                </div>
              </div>
              <p class="text-gray-400 font-mono bold-slate-p text-justify">
                I'm a
                {
                  (
                    (new Date().getTime() - new Date(2006, 8, 28).getTime()) /
                    1000 /
                    60 /
                    60 /
                    24 /
                    365.2425
                  ).toFixed(1)
                } year old <b>full-stack developer</b>, based in Dublin. I
                <b>love</b> to build stuff!
              </p><p class="text-gray-400 font-mono bold-slate-p text-justify">
                I work on physical and web products that could have a <b
                  >big impact on the world</b
                >.
              </p>
              <div
                class="flex hover:scale-105 duration-300 border border-gray-600 flex-row space-x-1 items-center justify-center w-32 bg-black rounded-2xl p-1"
              >
                <img src="x-logo.png" alt="x.com logo" class="w-4 h-4" />
                <a
                  class="text-white text-xs font-bold no-underline"
                  href="https://x.com/carknerwill"
                >
                  FOLLOW ME
                </a>
              </div>
            </div>
          </Card>
        </div>
        <!-- Writing -->
        <ArticleDisplay home={true} title="Writings" posts={posts} />
        <!-- Stack -->
        <!-- <Card class="space-y-2">
          <h4>My Stack</h4>
          <p class="text-gray-400 font-mono">From idea to implementation</p>
          <div class="grid grid-cols-3 py-3 justify-center items-center gap-4">
            {
              [
                {
                  logo: 'react.png',
                  alt: 'React',
                  href: 'https://reactjs.org',
                },

                {
                  logo: 'tw.png',
                  alt: 'Tailwind CSS',
                  href: 'https://tailwindcss.com',
                },
                {
                  logo: 'next.png',
                  alt: 'NextJS',
                  href: 'https://nextjs.org',
                  // class: '!aspect-[1/1]',
                },
                {
                  logo: 'astro.png',
                  alt: 'Astro',
                  href: 'https://astro.build',
                },
                {
                  logo: 'vercel.png',
                  alt: 'Vercel',
                  href: 'https://vercel.com',
                },
                {
                  logo: 'ts.png',
                  alt: 'TypeScript',
                  href: 'https://typescriptlang.org',
                },
              ].map((item) => (
                <a href={item.href} target="_blank" class="hover:scale-110">
                  <img class="w-20 h-20" src={item.logo} alt={item.alt} />
                </a>
              ))
            }
          </div> -->
        <!-- </Card> -->
        <!-- Music -->
        <Card>
          <div class="flex flex-row items-center space-x-4 justify-center">
            <img
              class="w-20 h-20 hover:scale-110 duration-300 hover:cursor-pointer border border-gray-600 rounded-md"
              src="lofi.png"
              alt="star wars lofi album"
            />
            <div class="flex flex-col text-left justify-center">
              <h4 class="mb-1">Music for Focus</h4>
              <p class="text-gray-400 font-mono bold-slate-p">
                <b>Star Wars Lofi</b>: May the Force Be with You by
                <a
                  class="hover:cursor-pointer"
                  href="https://music.apple.com/ca/album/star-wars-lofi-may-the-force-be-with-you-collection/1681000433"
                  >Mik</a
                >
              </p>
            </div>
          </div>
        </Card>
        <!-- Contact -->
        <Card class="space-y-2">
          <h4>Get in Touch</h4>
          <p class="font-mono text-gray-400 text-sm bold-slate-p">
            I'm <b>always</b> looking for opportunities and I <b
              >love meeting new people</b
            >!
          </p>
          <div class="flex flex-row space-x-2">
            {
              [
                {
                  icon: 'mdi:twitter',
                  href: 'https://twitter.com/CarknerWill',
                },
                {
                  icon: 'mdi:github',
                  href: 'https://github.com/will-carkner',
                },
                {
                  icon: 'ic:round-email',
                  href: 'mailto:will@willcarkner.com',
                },
              ].map((item) => (
                <a
                  href={item.href}
                  target="_blank"
                  class="hover:duration-300 hover:scale-110"
                >
                  <Icon
                    class="w-10 h-10 text-gray-300 hover:text-sky-400"
                    name={item.icon}
                  />
                </a>
              ))
            }
          </div>
          <a
            class="text-white font-mono font-bold no-underline hover:text-sky-400 text-base hover:underline"
            href="/blog/contact"
          >
            Learn More
          </a>
        </Card>
      </div>
      <div class="md:flex-1 space-y-8">
        <!-- Projects -->
        <Card class="space-y-4">
          <h4>Work</h4>
          <div class="flex flex-col space-y-4 justify-end">
            {
              [
                {
                  title: 'Founders Site',
                  tags: ['Astro', 'Tailwind', 'Client'],
                  image: 'founders.jpg',
                  url: 'https://joinfounders.co',
                },
                {
                  title: 'BloodBox',
                  tags: ['Hardware', 'ML', 'MedTech'],
                  image: 'bloodbox.jpg',
                  url: 'https://bloodbox.info',
                },
                {
                  title: 'Research',
                  tags: ['Economics', 'Genomics', 'AI'],
                  image: 'congestion.jpg',
                  url: 'https://willcarkner.com/blog/research',
                  class: 'aspect-[3/2]',
                },
                {
                  title: 'MLTCC Site',
                  tags: ['Landing Page', 'Client'],
                  image: 'mltcc.jpg',
                  url: 'https://mltcc.com',
                  class: 'aspect-[3/2]',
                },
                // {
                //   title: 'Aircraft Geofencing',
                //   tags: ['Bespoke', 'Web-App'],
                // }
                // {
                //   title: 'TCD Hist Site',
                //   tags: ['Landing Page', 'Client'],

                // }
              ].map((item, i) => (
                <div
                  id={`project-${i}`}
                  class:list={[i < 3 ? 'visible' : 'hidden']}
                >
                  <Project
                    title={item.title}
                    tags={item.tags}
                    image={item.image}
                    url={item.url}
                    class={item.class}
                  />
                </div>
              ))
            }
          </div>
          <button
            id="more-projects"
            class="text-white font-mono font-bold no-underline hover:text-sky-400 text-base hover:underline"
          >
            See More
          </button>
          <script>
            const moreProjects = document.getElementById('more-projects')!
            const projects = document.querySelectorAll('[id^="project-"]')
            let hidden = true
            moreProjects.addEventListener('click', () => {
              hidden = !hidden
              projects.forEach((project, i) => {
                if (i < 3) return

                project.classList.toggle('visible', !hidden)
                project.classList.toggle('hidden', hidden)
              })
              moreProjects.innerText = hidden ? 'See More' : 'See Less'
            })
          </script>
          <div class="flex flex-row space-x-4">
            {
              [
                {
                  title: 'Formal CV',
                  href: '/cv.pdf',
                },
                {
                  title: 'Current',
                  href: '/blog/current',
                },
              ].map((item) => (
                <a
                  class="no-underline border hover:scale-110 border-gray-600 px-2 py-1 rounded-lg font-mono"
                  href={item.href}
                >
                  {item.title}
                </a>
              ))
            }
          </div>
        </Card>
        <!-- CORE IDEAS -->
        <Card class="space-y-2">
          <h4>Core Ideas</h4>
          <ul class="flex flex-row space-x-4">
            {
              [
                {
                  idea: 'Learn',
                  href: '/blog/learn',
                },
                {
                  idea: 'Build',
                  href: '/blog/build',
                },
                {
                  idea: 'Focus',
                  href: '/blog/impact',
                },
              ].map((item) => (
                <li>
                  <a href={item.href}>
                    <div class="font-mono bold-slate-p">{item.idea}.</div>
                  </a>
                </li>
              ))
            }
          </ul>
          <div class="text-gray-400 bold-slate-p">
            I aim to <b>constantly learn</b>, <b>build tangible things</b>, and <b
              >focus on impact</b
            >.
          </div>
        </Card>
        <!--PHOTOS -->
        <Card>
          <div class="space-y-4">
            <h4>Recent Photos</h4>
            <div
              class="flex flex-row space-x-2 md:space-x-4 items-center justify-center"
            >
              {
                [
                  {
                    img: 'cool-photos/beach.jpeg',
                    alt: 'Italian Beach',
                  },
                  {
                    img: 'cool-photos/city.jpeg',
                    alt: 'Matera',
                  },
                  {
                    img: 'cool-photos/town.jpeg',
                    alt: 'Italian town',
                  },
                ].map((item) => (
                  <img
                    alt={item.alt}
                    class="w-30 h-40 border border-gray-600 rounded-lg"
                    src={item.img}
                  />
                ))
              }
            </div>
            <div>
              <a
                class="text-white font-mono font-bold no-underline hover:text-sky-400 text-base hover:underline"
                href="/photos"
              >
                View More
              </a>
            </div>
          </div>
        </Card>
        <!-- WORKOUTS -->
        <!-- <Card>
          <div class="space-y-2">
            <h4>Exercise</h4>
            <div class="flex flex-col space-y-2 items-left justify-left">
              {
                [
                  {
                    type: 'Upper Strength',
                    desc: ['Push press', 'Bench press', 'Pull up', 'T bar row'],
                  },
                  {
                    type: 'Lower Strength',
                    desc: [
                      'Hang snatch',
                      'Bulgarian split squat',
                      'Back squat',
                      'Calf raise',
                    ],
                  },
                  {
                    type: 'Impulse',
                    desc: [
                      'Power clean',
                      'Front squat',
                      'Nordic curl',
                      'Standing calf raise',
                    ],
                  },
                  {
                    type: 'Plyometrics',
                    desc: [
                      'Broad jump',
                      'Core work',
                      'Pogo jumps',
                      'Single leg box jump',
                    ],
                  },
                ].map((item) => (
                  <div class="flex flex-col">
                    <p class="font-bold text-center pb-1">{item.type}</p>
                    <ul class="p-1 px-2 border shadow-slate-900 rounded-xl text-left border-gray-600 grid grid-cols-2">
                      {item.desc.map((thing) => (
                        <li>&bullet; {thing}</li>
                      ))}
                    </ul>
                  </div>
                ))
              }
            </div>
          </div>
        </Card> -->
      </div>
    </div>
  </Section>
</Layout>
